body {
  background-color: #778899;
  font-family: sans-serif;
}
.header {
  background: #708090;
}
.text-success {
  font-size: 35px;
}
.game-name {
  color: #40E0D0;
}
.fas {
  font-size: 24px;
  color: gold;
  text-align: left;
}
#current-word {
  align-content: center;
  display: flex;
  width:330px;
  height: 300px;
  text-align: center;
  align-items: center;
  font-size: 50px;
  font-family: cursive;
  background: #01FF70;
  border-radius: 50%;
  border: 4px solid;
  box-shadow: 600px;
  justify-content: center;
}
#reset{
  display: none;
}
#pomosht{
  border: 2px solid;
  border-color: blue;
}
